{% extends "main.html" %}

{% block graph %}

<div class="box tab">
  <div id="wrap1">
    <canvas id="chart1"></canvas>
  </div>
</div>

<script>

function ongraph() 
{

var ctx = document.getElementById('chart1').getContext('2d');

      var chart = new Chart(ctx, {
        type : 'line',

        data : {
              labels : 
                  [
                    {% for i in gdata %}
                      {% if i['state'] == 'Total'%}
                      {% if i['cum_confirmed'] != -1 %}
                        "{{ i['date'] }}",
                      {% endif %}
                      {% endif %}
                    {% endfor %}
                  ],
              datasets : 
                [
                  {            
                    label:  'Confirmed',
                    borderColor: 'rgb(245, 66, 66)',
                    data : [
                              {% for i in gdata %}
                                {% if i['state'] == 'Total'%}
                                  {% if i['cum_confirmed'] != -1%}
                                  "{{ i['cum_confirmed'] }}",
                                  
                                {% endif %}
                                {% endif %}
                              {% endfor %}
                            ]
                  },
                  {            
                    label:  'Active',
                    borderColor: 'rgb(66, 245, 114)',
                    data : [
                              {% for i in gdata %}
                                {% if i['state'] == 'Total'%}
                                  {% if i['cum_active'] != -1%}
                                  "{{ i['cum_active'] }}",
                                  
                                {% endif %}
                                {% endif %}
                              {% endfor %}
                            ]
                  },
                  {            
                    label:  'Recovered',
                    borderColor: 'rgb(66, 135, 245)',
                    data : [
                              {% for i in gdata %}
                                {% if i['state'] == 'Total'%}
                                  {% if i['cum_recovered'] != -1%}
                                  "{{ i['cum_recovered'] }}",
                                  
                                {% endif %}
                                {% endif %}
                              {% endfor %}
                            ]
                  },

                ] 
              },
              options: {
                maintainAspectRatio:false,
                scales: {
                  xAxes: [{
                                type: 'time',
                                ticks: {
                                autoSkip: true,
                                maxTicksLimit: 20,
                                fontSize: 10
                        }
                        }]
                        }
                      }

            });


}


function setGraph() 
{



  var wrap = document.getElementById('wrap1');
  wrap1.innerHTML = '&nbsp;';
  $('#wrap1').append('<canvas id="chart1"></canvas>');

  var s = document.getElementById('state').value;
  var stt = ['Andaman and Nicobar Islands','Andhra Pradesh','Arunachal Pradesh','Assam','Bihar','Chandigarh','Chhattisgarh','Daman and Diu','Delhi','Dadra and Nagar Haveli and Daman and Diu','Goa','Gujarat','Himachal Pradesh','Haryana','Jharkhand','Jammu and Kashmir','Karnataka','Kerala','Ladakh','Lakshadweep','Maharashtra','Meghalaya','Manipur','Madhya Pradesh','Mizoram','Nagaland','Odisha','Punjab','Puducherry','Rajasthan','Sikkim','Telangana','Tamil Nadu','Total','Tripura','Uttar Pradesh','Uttarakhand','West Bengal'];

  for (var i = 0 ; i<38; i++) {
    
    if(s == stt[i])
      {break;}
  }

  {% for p in range(38)%}
    if(i == {{ p }})
    {
      

  var ctx = document.getElementById('chart1').getContext('2d');

      var chart = new Chart(ctx, {
        type : 'line',

        data : {
              labels : 
                  [
                    {% for i in gdata %}
                      {% if i['state'] == st[p] %}
                      {% if i['cum_confirmed'] != -1 %}
                        "{{ i['date'] }}",
                      {% endif %}
                      {% endif %}
                    {% endfor %}
                  ],
              datasets : 
                [
                  { label:  'Confirmed',          
                    borderColor: 'rgb(245, 66, 66)',
                    data : [
                              {% for i in gdata %}
                                {% if i['state'] == st[p] %}
                                  {% if i['cum_confirmed'] != -1%}
                                  "{{ i['cum_confirmed'] }}",
                                  
                                {% endif %}
                                {% endif %}
                              {% endfor %}
                            ]
                  },
                  {            
                    label:  'Active',
                    borderColor: 'rgb(66, 245, 114)',
                    data : [
                              {% for i in gdata %}
                                {% if i['state'] == st[p] %}
                                  {% if i['cum_active'] != -1%}
                                  "{{ i['cum_active'] }}",
                                  
                                {% endif %}
                                {% endif %}
                              {% endfor %}
                            ]
                  },
                  {            
                    label:  'Recovered',
                    borderColor: 'rgb(66, 135, 245)',
                    data : [
                              {% for i in gdata %}
                                {% if i['state'] == st[p] %}
                                  {% if i['cum_recovered'] != -1%}
                                  "{{ i['cum_recovered'] }}",
                                  
                                {% endif %}
                                {% endif %}
                              {% endfor %}
                            ]
                  },

                ] 
              },
              options: {
                maintainAspectRatio:false,
                scales: {
                  xAxes: [{
                                type: 'time',
                                ticks: {
                                autoSkip: true,
                                maxTicksLimit: 20,
                                fontSize: 10
                            }
                        }]
                        }
                      }

            });



    }
  {% endfor %}  
}


    </script>

{% endblock %}