{% extends "main.html" %}

{% block graph %}

<div class="box tab">
  <div id="wrap1">
    <canvas id="chart1"></canvas>
  </div>
</div>

<div class="box tab">
  <div id="wrap2">
    <canvas id="chart2"></canvas>
  </div>
</div>

<div class="box tab">
  <div id="wrap3">
    <canvas id="chart3"></canvas>
  </div>
</div>












<script>

function ongraph() 
{

{% for j in range(3)%}

{% set ch0 = chart[j][0] %}
{% set ch1 = chart[j][1] %}
{% set ch2 = chart[j][2] %}

var ctx = document.getElementById('{{ch0}}').getContext('2d');

      var chart = new Chart(ctx, {
        type : 'line',

        data : {
              labels : 
                  [
                    {% for i in gdata %}
                      {% if i['state'] == 'Total'%}
                      {% if i[ch1] != -1 %}
                        "{{ i['date'] }}",
                      {% endif %}
                      {% endif %}
                    {% endfor %}
                  ],
              datasets : 
                [
                  {            
                    label: '{{ch2}}' ,
                    // backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data : [
                              {% for i in gdata %}
                                {% if i['state'] == 'Total'%}
                                  {% if i[ch1] != -1%}
                                  "{{ i[ch1] }}",
                                  
                                {% endif %}
                                {% endif %}
                              {% endfor %}
                            ]
                  }

                ] 
              },
              options: {
                maintainAspectRatio:false,
                scales: {
                  xAxes: [{
                                type: 'time',
                                ticks: {
                                autoSkip: true,
                                maxTicksLimit: 20,
                                fontSize: 10
                            }
                        }]
                        }
                      }

            });

{%endfor%}

}


function setGraph() 
{
  {% for j in range(3)%}

  {% set ch0 = chart[j][0] %}
  {% set ch1 = chart[j][1] %}
  {% set ch2 = chart[j][2] %}
  {% set ch3 = chart[j][3] %}

  var wrap = document.getElementById('{{ ch3 }}');
  {{ ch3 }}.innerHTML = '&nbsp;';
  $('#{{ch3}}').append('<canvas id="{{ch0}}"></canvas>');

  var s = document.getElementById('state').value;
  var stt = ['Andaman and Nicobar Islands','Andhra Pradesh','Arunachal Pradesh','Assam','Bihar','Chandigarh','Chhattisgarh','Daman and Diu','Delhi','Dadra and Nagar Haveli and Daman and Diu','Goa','Gujarat','Himachal Pradesh','Haryana','Jharkhand','Jammu and Kashmir','Karnataka','Kerala','Ladakh','Lakshadweep','Maharashtra','Meghalaya','Manipur','Madhya Pradesh','Mizoram','Nagaland','Odisha','Punjab','Puducherry','Rajasthan','Sikkim','Telangana','Tamil Nadu','Total','Tripura','Uttar Pradesh','Uttarakhand','West Bengal'];

  for (var i = 0 ; i<38; i++) {
    
    if(s == stt[i])
      {break;}
  }

  {% for p in range(38)%}
    if(i == {{ p }})
    {
      

  var ctx = document.getElementById('{{ch0}}').getContext('2d');

      var chart = new Chart(ctx, {
        type : 'line',

        data : {
              labels : 
                  [
                    {% for i in gdata %}
                      {% if i['state'] == st[p] %}
                      {% if i[ch1] != -1 %}
                        "{{ i['date'] }}",
                      {% endif %}
                      {% endif %}
                    {% endfor %}
                  ],
              datasets : 
                [
                  {            
                    label: '{{ch2}}' ,
                    // backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data : [
                              {% for i in gdata %}
                                {% if i['state'] == st[p] %}
                                  {% if i[ch1] != -1%}
                                  "{{ i[ch1] }}",
                                  
                                {% endif %}
                                {% endif %}
                              {% endfor %}
                            ]
                  }

                ] 
              },
              options: {
                maintainAspectRatio:false,
                scales: {
                  xAxes: [{
                                type: 'time',
                                ticks: {
                                autoSkip: true,
                                maxTicksLimit: 20,
                                fontSize: 10
                            }
                        }]
                        }
                      }

            });



    }
  {% endfor %}
  {% endfor %}  
}


    </script>

{% endblock %}